<ion-content>
  <app-spinner *ngIf="($loading | async) && isLoading"></app-spinner>
  <ng-container *ngIf="!isLoading">
    <div class="welcome">
      <h1 style="font-size: 65px"> Dashboard </h1>
    </div>

    <div class="stat-container">
      <div class="stat-row">
        <div class="stat-element">
          <h3 class="stat-title">Fidelity Completate:</h3>
          <h1 class="stat-number">22</h1>
        </div>
        <div class="stat-element">
          <h3 class="stat-title">Fidelity Da Completate:</h3>
          <h1 class="stat-number">12</h1>
        </div>
      </div>
      <div class="stat-row">
        <div class="stat-element">
          <h3 class="stat-title rumpi_palle" >Media Tempo Completamento:</h3>
          <h1 class="stat-number">15G</h1>
        </div>
        <div class="stat-element">
          <h3 class="stat-title">Spesa Media:</h3>
          <h1 class="stat-number">55€</h1>
        </div>
      </div>
    </div>

    <div class="list-container" *ngIf="unFilteredList && unFilteredList.length > 0">
      <ion-searchbar class="search" mode="ios" placeholder="cerca username cliente" (ionInput)="filterItems($event)"></ion-searchbar>

      <ion-list class="list" [inset]="true">
        <ion-item *ngFor="let user of list">
          <ion-label style="font-size: 150%">{{user.username}}</ion-label>
          <ion-button style="font-size: large" fill="clear" slot="end" (click)="editPoint(user)" >
            <ion-icon style="margin: 4px;" name="create-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </ng-container>
</ion-content>
