
.welcome {
  padding: 0 5% 0 5%;
  color: #7743db;
  font-weight: bold;
}

.stat-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  flex-direction: column;
}

.stat-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.stat-element {
  width: 40vw;
  height: 15vh;
  min-height: 125px;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 20px;
  border: 2px solid #7743db;
}
.stat-title{
  margin: 1vh 0% 0% 5%;
  min-height: 50px;
}
.stat-number{
  margin: 5% 10% 0% 0%;
  text-align: end;
  font-size: 55px;
  font-weight: bold;
  color: #7743db;
}

.list-container {
  background-color: #eaeaea;
  margin: 15px;
  min-height: 290px;
  height: 40vh;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 1px #6e6e6e;
}

.list{
  -webkit-margin-start: 16px;
  margin-inline-end: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  height: 30vh;
  overflow-y: scroll;
}

.rumpi_palle{
  font-size: 19px;
}

@media screen and (min-width: 1000px) {
  .stat-number{
    margin: 0 10% 0 0;
  }

  .list-container{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 400px){
  .stat-number{
    margin: 0 10% 0 0;
  }
  .rumpi_palle{
    font-size: 18px;
  }
  .list{
    height: 25vh;
  }
  .list-container{
    height: 35vh;
  }
}
