<ion-content>
  <!--<img src="assets/imgs/login/grey.svg" alt="Cerchio blu" id="grey">-->

  <div class="content full-margin">

    <div class="logo-container">
      <img alt="Logo" src="assets/MyFidelity-logo.png">
    </div>

    <div class="form-container">
      <form [formGroup]="form">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input fill="solid" formControlName="username" type="text" autocomplete="username"></ion-input>
        </ion-item>

        <ion-item >
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password" fill="solid" autocomplete="current-password"></ion-input>
        </ion-item>

        <ion-item lines="none" style="padding: 20px 0;">
          <ion-label>Ricordami</ion-label>
          <ion-checkbox slot="start" formControlName="rememberMe"></ion-checkbox>
        </ion-item>

        <ion-button (click)="submit()" *ngIf="!isLoading" [disabled]="form.invalid" expand="block" shape="round">
          Accedi
        </ion-button>

        <ion-button *ngIf="isLoading" [disabled]="isLoading" expand="block" shape="round">
          <ion-spinner name="crescent"></ion-spinner>
        </ion-button>

        <ion-button expand="block" shape="round" fill="clear" (click)="register()">
          Registrati
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
