
<ion-content>
  <img [src]="(screenWidth > 1000) ? 'assets/background-landscape.png' : 'assets/background.png'" class="background_image" alt="">
  <app-spinner *ngIf="($loading | async) && isLoading"></app-spinner>
  <ng-container *ngIf="!isLoading">
    <div class="home-container" >
      <div class="welcome">
        <h1 style="font-size: 65px"> Ciao </h1>
        <h1 style="margin-left: 5%">{{(user.nome ? user.nome : 'utente' )| addBrackets }}</h1>
      </div>

      <ng-container *ngIf="fidelity && !isLoading">
        <div class="container_card" (click)="fidelityOpen = !fidelityOpen">
          <div class="card">
            <div class="row top">
              <div class="top-left">
                <h2>Inizio : {{fidelity.dataInizio}}</h2>
                <ng-container *ngIf="fidelity.dataFine">
                  <h2>Fine : {{fidelity.dataFine}}</h2>
                </ng-container>
              </div>
              <div class="top-right">
                <h1 class="punti-text">Punti</h1>
                <h1 class="punti">{{fidelity.totPunti}}</h1>
              </div>
            </div>

            <div class="row content_container" *ngIf="fidelityOpen else closed">
              <ng-container *ngIf="(!!fidelity.punti && fidelity.punti.length > 0) else noPoint">
                <ion-item *ngFor="let punto of fidelity.punti" class="content_row">
                  <ng-container *ngIf="punto.note else noNote">
                    <h2>{{punto.note}}</h2>
                    <ion-label slot="end">{{punto.ts}}</ion-label>
                  </ng-container>
                  <ng-template #noNote>
                    <h2>{{punto.importo}}$</h2>
                    <ion-label slot="end">{{punto.ts}}</ion-label>
                  </ng-template>
                </ion-item>
              </ng-container>
              <ng-template #noPoint>
                <h2 style="padding-left: 20px">Ancora nessun Punto</h2>
              </ng-template>
            </div>
            <ng-template #closed>
              <div class="closeCard">
                <h2>apri per maggiori dettagli</h2>
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
            </ng-template>
          </div>
        </div>
      </ng-container>

    </div>
  </ng-container>
</ion-content>
