.home-container {
  height: 100%;
  top: 0;
  position: absolute;
  width: 100vw;
}

.welcome{
  padding: 0 5% 0 5%;
  color: white;

  h1{
    font-size: 50px;
    font-weight: bold;
  }
}

.container_toggle{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container_card{
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.card {
  width: 90%;
  min-height: 140px;
  background-color: #f0f0f0;
  box-shadow: 0px -1px 10px 1px #3c2a3e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.top-right{
  background-color: #7743db;
  color: aliceblue;
  width: 90px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90px;
}
.top-left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(100% - 100px);
  margin-left: 10px;

  h2{
    margin: 0;
  }
}

.row{
  display: flex;
  width: 100%;
}

.top{
  justify-content: space-between;
  height: 90px;
}

.punti{
  font-size: xxx-large;
  font-weight: bold;
  margin: 0 ;
}
.punti-text{
  font-size: x-large;
  font-weight: bold;
  margin: 0;
}

.data_inizio{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
}

.content_container{
  flex-direction: column;
  margin-bottom: 20px;
}

.content_row{
  --padding-start: 0px;
  --background: f0f0f0;

  h2{
    margin-left: 10px;
  }
}

.background_image{
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: fixed;
}

.closeCard{
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    margin-top: 0;
  }
}
