.background_image{
  width: 100%;
  height: 100%;
  position: fixed;
}


.container-qr{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.qr-image{
  width: 100%;
  height: 50%;
  min-height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    width: 360px;
    height: 360px;
  }
}
.cod-container{
  background-color: white;
  text-align: center;
  margin: 0 5%;
  border-radius: 25px;
}


@media screen and (min-width: 1000px){
  .container-qr{
    margin-top: 5%;
  }

  .cod-container{
    background-color: #7743db;
    margin: 5% 5%;
    color: white;
  }

}
