<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" (click)="close()">
      <ion-icon color="primary" name="chevron-back-outline"></ion-icon>
      <ion-button>Indietro</ion-button>
    </ion-buttons>
    <ion-title>Il tuo QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(screenWidth < 1000)">
    <img [src]="'assets/background.png'" class="background_image" alt="">
  </ng-container>
  <app-spinner *ngIf="($loading | async) && isLoading"></app-spinner>
  <div class="container-qr">
    <div class="qr-image">
      <img [src]="getQrCode()" alt="">
    </div>

    <div class="cod-container">
      <h2 style="margin: 15px 0 0 0">Il Tuo codice:</h2>
      <br>
      <h2 style="font-weight: bold; margin-top: 0">{{codice}}</h2>
    </div>
  </div>

</ion-content>
