
.not-logged-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  height: 100%;
}

.title {
 margin-left: 2%;
}

.icon {
  font-size: 6vw;
  margin: auto;
  font-weight: 700;
}

ion-button {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Montserrat semi-bold', sans-serif;
  width: 65%;
}

.profile-item > h4 {
  text-align: left;
  float: left;
}

.profile-item > p {
  text-align: left;
}

table {
  width: 100%;
  margin-left: 2%;
  border-collapse:separate;
  border-spacing: 0 15px;
}

.bold {
  font-weight: bold;
}

td {
  margin-left: 10px;
  font-size: 20px;
}

.btn {
  --height: 60px;
  width: 50%;
}

.btn > .button-inner {
  flex-flow: column;
}

.semi-bold {
  font-family: 'Montserrat semi-bold', sans-serif;
  font-size: 22px;
}
