<ion-header>
  <ion-toolbar slot="start" mode="ios">
    <ion-title>Profilo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="($loading | async) && isLoading"></app-spinner>
  <div class="home-container" *ngIf="!isLoading">

    <h1 class="title">I miei Dati</h1>
    <ng-container *ngIf="user">
      <table>
        <tbody>
        <tr *ngIf="user.email">
          <td class="bold">Email:</td>
          <td>{{user!.email!}}</td>
        </tr>

        <tr *ngIf="user.username">
          <td class="bold">Username:</td>
          <td>{{user.username}}</td>
        </tr>

        <tr *ngIf="user.nome">
          <td class="bold">Nome:</td>
          <td>{{user.nome}}</td>
        </tr>

        <tr *ngIf="user.cognome">
          <td class="bold">Cognome:</td>
          <td>{{user.cognome}}</td>
        </tr>

        <tr *ngIf="user!.cellulare">
          <td class="bold">Cellulare:</td>
          <td>{{user.cellulare}}</td>
        </tr>

        <tr *ngIf="user.data">
          <td class="bold">Data di nascita:</td>
          <td>{{user.data}}</td>
        </tr>
        </tbody>
      </table>


      <ion-button (click)="logout()" color="danger" expand="block" style="width: 95%; margin-left: 2%; margin-top: 5%">Logout</ion-button>
    </ng-container>
  </div>
</ion-content>
