.content{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-margin{
  margin: 0 20px 0 20px;
}

.alert {
  padding: 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 4px;

  width: 90%;
  margin: 10% auto;
}

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-success {
  color: white;
  background-color: #89cb55;
}

.title{
  text-align: center;
}

.form{
  ion-item{
    padding-bottom: 5px;
  }
}

.logo-container{
  height: 200px;
  display: flex;
  justify-content: center;

  img{
    height: 200px;
    width: auto;
  }
}

@media screen and (min-width: 1000px){
  .form-container {
    padding: 0 10vw;

  }
}
