<ion-tabs >

  <ion-tab-bar slot="bottom" style="height: 85px">
    <ng-container *ngIf="admin else user">
      <ion-tab-button tab="home-admin" href="/tabs/home-admin">
        <ion-icon aria-hidden="true" name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <div class="scan-button">
        <ion-fab-button (click)="scan('admin')">
          <ion-icon aria-hidden="true" name="scan"></ion-icon>
        </ion-fab-button>
        <ion-label>Scan</ion-label>
      </div>

    </ng-container>

    <ng-template #user>
      <ion-tab-button tab="home" href="/tabs/home">
        <ion-icon aria-hidden="true" name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <div class="scan-button">
        <ion-fab-button (click)="scan('user')">
          <ion-icon aria-hidden="true" name="qr-code-outline"></ion-icon>
        </ion-fab-button>
      </div>

    </ng-template>

    <ion-tab-button tab="user" href="/user">
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
