.container {
  display: flex;
  height: 84vh;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  flex-direction: column;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 30px;
  width: 97vw;
}

.client_name{
  display: flex;
  justify-content: center;
}

.btn_salva{
  padding-top: 5vh;
}

