<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Fatto</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="padding: 10px 16px">Modifica i punti dell'utente</h2>

  <ion-item mode="ios" style="--padding-end: 16px">
      <ion-label>Numero Punti</ion-label>
      <ion-select [(ngModel)]="point" placeholder="Seleziona punti" mode="ios" interface="action-sheet">
        <ion-select-option [value]="0">0 punti</ion-select-option>
        <ion-select-option [value]="1">1 punti</ion-select-option>
        <ion-select-option [value]="2">2 punti</ion-select-option>
        <ion-select-option [value]="3">3 punti</ion-select-option>
        <ion-select-option [value]="4">4 punti</ion-select-option>
        <ion-select-option [value]="5">5 punti</ion-select-option>
        <ion-select-option [value]="6">6 punti</ion-select-option>
        <ion-select-option [value]="7">7 punti</ion-select-option>
        <ion-select-option [value]="8">8 punti</ion-select-option>
        <ion-select-option [value]="9">9 punti</ion-select-option>
        <ion-select-option [value]="10">10 punti</ion-select-option>
        <ion-select-option [value]="11">11 punti</ion-select-option>
        <ion-select-option [value]="12">12 punti</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-button shape="round" size="large" expand="block" style="margin: 20px" (click)="dismiss()">Modifica</ion-button>



<!--      <div class="btn_salva">-->
<!--        <ion-button shape="round">save</ion-button>-->
<!--      </div>-->
<!--  </div>-->
</ion-content>
