<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" (click)="close()">
      <ion-icon color="primary" name="chevron-back-outline"></ion-icon>
      <ion-button>Indietro</ion-button>
    </ion-buttons>
    <ion-title>Scansiona QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ng-container *ngIf="fase === 1">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Inserisci il codice manualmente</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-input labelPlacement="floating" label="Codice" type="text" (ionInput)="codeInput($event)">
              <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="submitCodice()">
                <ion-icon slot="icon-only" name="send" aria-hidden="true"></ion-icon>
              </ion-button>
            </ion-input>
          </ion-item>

        </ion-card-content>
      </ion-card>

      <ng-container *ngIf="isMobile && isSupported">
        <ion-button (click)="scan()" expand="block" style="width: 95%; margin-top: 5%">Scansiona</ion-button>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="fase === 2">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Inserisci l'importo speso dal cliente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input labelPlacement="floating" label="Importo della spesa" type="number" (ionInput)="spesaInput($event)">
              <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="aggiungiPunto()">
                <ion-icon slot="icon-only" name="send" aria-hidden="true"></ion-icon>
              </ion-button>
            </ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>


</ion-content>
